.img_perfil{
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
}

.img_perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacion{
padding: 20px 0px;

}


.informacion h1 {
    font-size: 25px;
}

.informacion p {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(23, 20, 72);
}

.estado{
    margin: 20px 0px;

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: rgb(29,29,31);
}

.redes{
    display: flex;
    gap: 10px;
    margin: 15px 0px;
}

.info{
    font-size: 1.7rem;
    
    width: 35%;
    height: 25%;
    border-radius: 1.5rem;
    background-color: rgb(194, 193, 193);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil1 {
    width: 200px;
    height: 300px;
    background-color: rgb(219, 216, 216);
    margin: auto;
    margin-top: 4.3rem;
    padding: 1.3rem;

    position: relative;
}

.perfil1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.8rem solid rgb(255, 255, 255);

    position: absolute;
    top: -2rem;
    left: 1.8rem;
} 

.texto1{
    font-family:10px;
    color: rgb(23, 20, 72);
}

.texto2{
    font-family:10px;
    color: rgb(23, 20, 72);
}

.texto3{
    font-family:10px;
    color: rgb(23, 20, 72);
}

.viñetas{
        margin: 0px;
        padding: 0px;
        column-count: 2;
        color: rgb(23, 20, 72);

}

.textof{
    gap: 7px;
    font-family:10px;
    color: rgb(23, 20, 72); 
}

